In [13]:
import pandas as pd
import numpy as np

In [26]:
data = pd.read_sas("./data/three.sas7bdat")

In [27]:
data.head()

,YEAR,DATANUM,STATEFIP,SLWT,AGE,BPLG,HISPANG,EDUCREC,EDUC99,EMPSTATG,...,YEARAT14,TREQSCHL,HAVECSL,SOUTH,_TYPE_,_FREQ_,SIMPCOMP,SIMPCAP,WTCOMP,WTCAP
0,95.0,1.0,1.0,327.0,58.0,1.0,NaN,2.0,NaN,1.0,...,1906.0,NaN,0.0,1.0,0.0,3306.0,8.146345,8.146345,8.226838,8.226838
1,95.0,1.0,1.0,327.0,58.0,1.0,NaN,2.0,NaN,1.0,...,1906.0,NaN,0.0,1.0,0.0,3306.0,8.146345,8.146345,8.226838,8.226838
2,95.0,1.0,1.0,326.0,58.0,1.0,NaN,3.0,NaN,1.0,...,1906.0,NaN,0.0,1.0,0.0,3306.0,8.146345,8.146345,8.226838,8.226838
3,95.0,1.0,1.0,327.0,58.0,1.0,NaN,3.0,NaN,1.0,...,1906.0,NaN,0.0,1.0,0.0,3306.0,8.146345,8.146345,8.226838,8.226838
4,95.0,1.0,1.0,327.0,58.0,1.0,NaN,3.0,NaN,1.0,...,1906.0,NaN,0.0,1.0,0.0,3306.0,8.146345,8.146345,8.226838,8.226838

In [ ]:
for i in data.columns:
    print('####-------------------------####')
    print(data[f"{i}"].describe().round(3))
    print("####-------------------------####")
    print("\n")

####-------------------------####
count    3820685.000
mean          97.693
std            0.887
min           95.000
25%           97.000
50%           98.000
75%           98.000
max           99.000
Name: YEAR, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean           1.472
std            1.004
min            1.000
25%            1.000
50%            1.000
75%            1.000
max            4.000
Name: DATANUM, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean          28.845
std           15.294
min            1.000
25%           17.000
50%           29.000
75%           42.000
max           56.000
Name: STATEFIP, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean          50.146
std           54.062
min           20.000
25%           20.000
50%           20.000
75%           50.500
max          327.000
Name: SLWT, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean          37.438
std           10.940
min           21.000
25%           28.000
50%           36.000
75%           47.000
max           58.000
Name: AGE, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean          30.434
std           14.332
min            1.000
25%           19.000
50%           34.000
75%           42.000
max           56.000
Name: BPLG, dtype: float64
####-------------------------####


####-------------------------####
count    3040248.000
mean           0.132
std            0.882
min            0.000
25%            0.000
50%            0.000
75%            0.000
max            9.000
Name: HISPANG, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean           6.859
std            1.915
min            1.000
25%            6.000
50%            7.000
75%            8.000
max            9.000
Name: EDUCREC, dtype: float64
####-------------------------####


####-------------------------####
count    482724.000
mean         11.107
std           2.620
min           1.000
25%          10.000
50%          11.000
75%          14.000
max          17.000
Name: EDUC99, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean           1.197
std            0.562
min            1.000
25%            1.000
50%            1.000
75%            1.000
max            3.000
Name: EMPSTATG, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean           1.922
std            0.269
min            1.000
25%            2.000
50%            2.000
75%            2.000
max            2.000
Name: LABFORCE, dtype: float64
####-------------------------####


####-------------------------####
count    2776017.000
mean          44.228
std           15.216
min            0.000
25%           46.000
50%           52.000
75%           52.000
max           52.000
Name: WKSWORK1, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean           5.021
std            1.788
min            0.000
25%            5.000
50%            6.000
75%            6.000
max            6.000
Name: WKSWORK2, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean       13840.940
std        14861.765
min            0.000
25%         4005.000
50%        10250.000
75%        19705.000
max       150000.000
Name: INCWAGE, dtype: float64
####-------------------------####


####-------------------------####
count    424971.000
mean        818.071
std        2754.336
min           0.000
25%           0.000
50%           0.000
75%           0.000
max       23250.000
Name: INCBUSFM, dtype: float64
####-------------------------####


####-------------------------####
count    3395714.000
mean        1458.961
std         7620.521
min            0.000
25%            0.000
50%            0.000
75%            0.000
max       132000.000
Name: INCBUS, dtype: float64
####-------------------------####


####-------------------------####
count    3395714.000
mean         240.948
std         2356.550
min            0.000
25%            0.000
50%            0.000
75%            0.000
max        75000.000
Name: INCFARM, dtype: float64
####-------------------------####


####-------------------------####
count    3462955.000
mean           1.410
std            0.528
min            0.000
25%            1.000
50%            1.000
75%            2.000
max            2.000
Name: VETSTAT, dtype: float64
####-------------------------####


####-------------------------####
count    3244462.000
mean           2.508
std            1.115
min            1.000
25%            2.000
50%            3.000
75%            3.000
max            4.000
Name: BIRTHQTR, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean          12.517
std            3.256
min            0.000
25%           11.000
50%           12.000
75%           14.000
max           20.000
Name: GRADCOMP, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean          12.417
std            3.080
min            0.000
25%           11.000
50%           12.000
75%           14.000
max           17.000
Name: GRADCAP, dtype: float64
####-------------------------####


####-------------------------####
count    3603631.000
mean          47.387
std           10.081
min            1.000
25%           50.000
50%           51.800
75%           52.000
max           52.000
Name: WEEKS, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean           0.017
std            0.128
min            0.000
25%            0.000
50%            0.000
75%            0.000
max            1.000
Name: NEWTOP, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean       15442.763
std        16046.339
min            0.000
25%         5550.000
50%        11965.000
75%        20145.000
max       357000.000
Name: EARNINGS, dtype: float64
####-------------------------####


####-------------------------####
count    3296594.000
mean           9.295
std            1.003
min            0.000
25%            8.802
50%            9.433
75%            9.952
max           11.918
Name: LNWAGE, dtype: float64
####-------------------------####


####-------------------------####
count    3588478.000
mean           9.305
std            1.006
min            0.000
25%            8.787
50%            9.433
75%            9.953
max           12.785
Name: LNEARN, dtype: float64
####-------------------------####


####-------------------------####
count    3291963.000
mean           5.485
std            0.881
min           -3.951
25%            5.011
50%            5.581
75%            6.048
max           11.462
Name: LNWKWAGE, dtype: float64
####-------------------------####


####-------------------------####
count    3582069.000
mean           5.495
std            0.890
min           -3.951
25%            5.008
50%            5.586
75%            6.060
max           11.792
Name: LNWKEARN, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean           0.124
std            0.329
min            0.000
25%            0.000
50%            0.000
75%            0.000
max            1.000
Name: SOUTHATL, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean           0.077
std            0.266
min            0.000
25%            0.000
50%            0.000
75%            0.000
max            1.000
Name: ESTHCENT, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean           0.102
std            0.302
min            0.000
25%            0.000
50%            0.000
75%            0.000
max            1.000
Name: WSTHCENT, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean        1939.489
std           14.351
min         1892.000
25%         1929.000
50%         1941.000
75%         1951.000
max         1969.000
Name: ROUGHYR, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean        1953.489
std           14.351
min         1906.000
25%         1943.000
50%         1955.000
75%         1965.000
max         1983.000
Name: YEARAT14, dtype: float64
####-------------------------####


####-------------------------####
count    3738683.000
mean           9.808
std            1.812
min            0.000
25%            9.000
50%            9.000
75%           12.000
max           12.000
Name: TREQSCHL, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean           0.979
std            0.145
min            0.000
25%            1.000
50%            1.000
75%            1.000
max            1.000
Name: HAVECSL, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean           0.302
std            0.459
min            0.000
25%            0.000
50%            0.000
75%            1.000
max            1.000
Name: SOUTH, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.0
mean           0.0
std            0.0
min            0.0
25%            0.0
50%            0.0
75%            0.0
max            0.0
Name: _TYPE_, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean       38028.734
std        27366.374
min          201.000
25%        16038.000
50%        28008.000
75%        53825.000
max       111995.000
Name: _FREQ_, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean          12.251
std            0.883
min            7.726
25%           11.848
50%           12.388
75%           12.929
max           13.883
Name: SIMPCOMP, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean          12.191
std            0.866
min            7.726
25%           11.785
50%           12.319
75%           12.861
max           13.883
Name: SIMPCAP, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean          12.333
std            0.909
min            7.876
25%           11.901
50%           12.497
75%           13.045
max           14.052
Name: WTCOMP, dtype: float64
####-------------------------####


####-------------------------####
count    3820685.000
mean          12.266
std            0.890
min            7.876
25%           11.831
50%           12.405
75%           12.947
max           14.052
Name: WTCAP, dtype: float64
####-------------------------####

|Variable| name | description |
|--------|------|-------------|
|Age     | AGE  | age         | 
|Individual education|GRADCAP| years of schooling capped 17|

In [ ]:
data.YEAR.drop_duplicates()

0        95.0
371      96.0
2428     97.0
8437     98.0
24524    99.0
Name: YEAR, dtype: float64